@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #050505;
  /* Ultra dark, not pure black */
  --foreground: #e5e5e5;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --card: #121212;
  --card-foreground: #ffffff;

  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-amber-500/30 selection:text-amber-500 cursor-none;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Premium Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }

  .glass-button {
    @apply bg-white/10 hover:bg-white/20 transition-all duration-300 backdrop-blur-sm border border-white/10;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}